.infos-user-chat{
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.name-hour-chat{
    display: flex;
    justify-content: space-between;
}

.content-user-chat {
  background-color: white;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 5px;
}

.last-message {
  display: flex;
  justify-content: space-between;
  p {
    margin-bottom: 0 !important;
  }
}

.user-chat{
    display: flex;
    color: black;
    &:hover{
        color: black;
    }
}

.avatar-click-to-message:hover {
  text-decoration: none;
}


.user-photo-chat{
    width: 60px;
    border-radius: 50%;
    // border: white 1px solid;
    margin-right: 20px;
}

.top-page-header > #chat-title{
    text-align: center;
}

#chat-name{
    font-weight: bold;
    font-size: 18px;
}

#chat-title{
    color: white;
}

.top-page-header-chatrooms {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
  background: linear-gradient(#418530, rgb(72, 138, 62));
  padding: 4px 8px;
  height: 48px;
  h1 {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    margin: 0;
  }
}
