// Specific CSS for your home-page

.home-page {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#08681e, #95c99f);
}

.title-home {
  color: white;
  text-align: center;
  opacity: 0.7;
  font-size: 54px;
}

#btn-go-index-plant {
  width: 80vw;
  margin: 0 auto;
  border: 1px solid white;
  padding: 15px 47px;
  border-radius: 15px;
  background-color: white;
  font-size: 18px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 573px;
  left: 35px;
  transition: background-color 1s, color 1s;
    &:hover {
      background-color: green;
      a {
        color: white;
      }
    }
}

#btn-go-index-plant > a {
  color: grey;
  font-weight: bold;
  text-decoration: none;
}

#garden_party_logo {
  width: 78vw;
  height: 28vh;
  padding-left: 30px;
  position: absolute;
  top: 107px;
  left: 20px;
}



