.container-plants-cards-community {
  margin-top: 8px;
  width: 375px;
  padding: 0 12px;
  height: 84vh;
  overflow: scroll;
}

.info-user-plant-community {
    font-weight: 100;
    list-style-type: none;
    text-decoration: none;
    margin-top: 4px;
}

.like-counter {
  position: absolute;
  bottom: 6px;
  right: 10px;
}

.card-right-side {
  margin-left: 8px;
}

#content-user-plants-community {
  display: flex;
  border-radius: 15px;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
  margin: 16px 8px;
  padding: 8px;
  position: relative;
  background-color: white;
}

#photo-user-plant-community {
    width: 130px;
    height: 130px;
    border-radius: 20px;
}

.link-to-classement {
  font-size: 1.8em;
  color: white;
}

.user-chat-from-community {
  position: absolute;
  margin-left: -8px;
}


.top-page-header-community {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background: linear-gradient(#418530, rgb(72, 138, 62));
  padding: 4px 8px;
  h1 {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    margin: 0;
  }
}

.community-avatar {
  height: 40px;
}

.hide-link-decoration {
  text-decoration: none;
  color: black !important;
}

.bouton-chat {
  position: absolute;
  top: 12px;
  right: 12px;
  border: 0;
  background: none;
}
