
<% content_for :meta_title, "Garden Party" %>
<% content_for :meta_description, "L'application de jardinage pour tous" %>
<%# <% content_for :meta_image, cl_image_path(@garden.photo.path) %> 

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">

<div class="home-page">

    <%= image_tag "logo.png", id:"garden_party_logo"%>
    <button type="button" id="btn-go-index-plant" class="btn btn-lg btn-primary" disabled><a href="/plants/">Voir mes plantes</a></button>
</div>
