
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">

<div class="home-page">
    <h2 id="first-word-title" class="title-home">Garden</h2>
    <h2 class="title-home">Part</h2><i id="icone-home" class="fas fa-seedling fa-2x navbar-icon"></i>
    <button type="button" id="btn-go-index-plant" class="btn btn-lg btn-primary" disabled><a href="/plants/">Voir mes plantes</a></button>
</div>