<div class="container">
        <h1 id="index-plant-title">My garden</h1>
        <% @user_plants.each do |user_plant| %>
        <div id ="content-user-plants" class="card-deck flex-row flex-nowrap">
            <a href="http://google.com">
            <div class="img-info-user-plant">
                <%= image_tag("https://www.deco.fr/sites/default/files/styles/width_880/public/2019-09/plantes%20vertes%20cuisine%201.jpg?itok=pGaTDLyH", id: "photo-user-plant") %>
                    <div class="info-user-plant">
                        <li id="nickname-list-user-plant"><%= user_plant.nickname %></li>
                        <li id="date-creation"><%creation_date = user_plant.created_at %></li>
                        <% age_plant = @now - creation_date  %>
                        <% age_plant_final = age_plant / 86400 %>
                        <%= age_plant_final.to_i %> <p>jour</p>
                    </div>
            </div>
            <%# <%= image_tag("test-jardiniere-copie.png", id: "jardiniere-user-plant") %> 
        <% end %>
    </div>
</div>
