<div class="div-master">
  <div class="plant-picture"></div>

  <div class="principal-infos">
    <h1><%= @plant.nickname %></h1>
    <p><%= @plant.like_number %></p>
  </div>

  <div class="detailed-infos"></div>

</div>

