.navbar-garden {
  display: flex;
  background: linear-gradient(#418530, #0E550C);
  width: 375px;
  height: 80px;
  position: fixed;
  bottom: 0;
  z-index: 999;
}

.navbar-icon-block {
  width: 93px;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.block-active {
  background-color: rgb(72, 138, 62);
  a {
    background-color: #26551D;
    // box-shadow:
    border-radius: 50%;
  }
}

.navbar-icon {
  color: white;
  opacity: 0.8;
}

